<!-- Header -->
<header id="header">
  <div class="inner">
	<!--
    <a href="{{ "/" | relative_url }}" class="image avatar"><img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}" /></a>
    -->
    <a href="{{ "/" | relative_url }}" class="image avatar"><img src="assets/images/avatar.jpg" alt="{{ site.title | escape }}" /></a>        
    <h1>
      <strong>{{ site.title | escape }}</strong><br/>
    </h1>
    <!-- -->   
    <p style="color:#A2A2A2">{{ site.description | escape }}</p>
  </div>
  
  <!--
  <div class="contact">
	- Contact - <br/>
	<p style="margin-bottom:0.25cm;"> <a href="mailto: riffo@geoazur.unice.fr" style="color:#D7DBDD">riffo [at] geoazur.unice.fr </a> </p>
					
    <br/>
	<br/>
	<br/>
	<br/>																				
	Bâtiment 4, Campus Azur CNRS <br/>
	250 rue Albert Einstein <br/>
	CS 10269 - F 06905 SOPHIA ANTIPOLIS Cedex <br/>
	FRANCE <br/>
	<br/>
	<br/>					
  </div>  
  -->  

</header>
