<!-- Header -->
<header id="header">
  <div class="inner">
	<!--
    <a href="{{ "/" | relative_url }}" class="image avatar"><img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}" /></a>
    -->
    <a href="{{ "/" | relative_url }}" class="image avatar"><img src="assets/images/avatar.jpg" alt="{{ site.title | escape }}" /></a>        
    <h1>
      <strong>{{ site.title | escape }}</strong><br/>
    </h1>
    <!-- -->
    <h3> {{ site.description | escape }} </h3>    
  </div>
</header>
